body {
    background-color: lightgrey;
    width: 50%;
    padding: auto;
    margin: auto;
}

h1 {
    margin-bottom: -5px;
}

li button {
  color: white;
  background: black;
  border: solid 1px;
  border-color: rgba(0, 0, 0, .1);
  cursor: pointer;
  padding: 5px;
  text-align: center;
  float: right;
  margin: 2px; 
  font-size: 10px; 
}


.title {
    background-color: red;
    text-align: center;
    color: white;
    padding: 0px 20px 30px 0px;
    font-size: 50px;
}


.list {
    list-style: none;
    color: #555;
    background-color: #f5f5f5;
    border: 1px solide #dedede;
    font-size: 25px;
    padding: 20px;
    margin: 0px;

}

li {
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
}

.add {
    background-color: gray;
    text-align: center;
    color: white;
    padding: 0px 20px 30px 0px;
    font-size: 40px;
}

.titleInput {
    margin: 0;
     border: none;
     border-radius: 0;
     display: inline-block;
     font-size: 16px;
   }
   
.titleButton {
    color: #555;
    display: inline-block;
    text-align:inherit;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: none;
  }
  

